@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: gray;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

button {
  background-color: transparent;
  border: none;
}

form,
fieldset,
input {
  border: none;
}

/* colors */

.light-dark-violet {
  color: hsl(270, 3%, 87%);
}

.medium-dark-violet {
  color: hsl(279, 6%, 55%);
}

.very-dark-violet {
  color: hsl(278, 68%, 11%);
}

.error {
  color: hsl(0, 100%, 66%);
  font-size: 12px;
  margin-top: 6px;
}

/* buttons */

.button {
  padding: 16px 0;
  color: white;
  border-radius: 8px;
  letter-spacing: 0.5px;
  font-size: 16px;
  cursor: pointer;
}

.button-primary {
  background-color: hsl(278, 68%, 11%);
}

/* utility */

.w-full {
  width: 100%;
}

.grid {
  display: grid;
}

.grid-cols {
  grid-template-columns: 170px 189px;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 50%));
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  position: relative;
  background-color: white;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 900px;
}

.bg {
  position: absolute;
}

.bg img {
  width: auto;
  height: 100%;
}

#bg-main-mobile {
  display: none;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  max-height: 900px;
  padding-left: 164px;
  padding-top: 187px;
  padding-right: 227px;
}

.mt-0 {
  margin-top: 0;
}

/* cards */

.card {
  width: 447px;
  height: 245px;
}

.card-front {
  box-sizing: border-box;
  padding: 28px 35px 28px 34px;
  background-image: url("../images/bg-card-front.png");
}

.card-logo {
  height: 47px;
  margin-bottom: 70px;
}

.card-number {
  max-width: 390px;
  gap: 6px;
  font-size: 26px;
  margin-bottom: 29px;
  letter-spacing: 3px;
}

.card-owner {
  font-size: 12px;
  letter-spacing: 2px;
}

.card-back {
  position: relative;
  z-index: 0;
  margin-top: 37px;
  margin-left: 94px;
  background-image: url("../images/bg-card-back.png");
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-back .cvc {
  position: absolute;
  top: 112px;
  right: 59px;
  z-index: 10;
  font-size: 14px;
  color: white;
  letter-spacing: 0.5px;
}

/* form */

.card-form-container {
  margin-top: 90px;
  margin-left: 127px;
}

.card-form {
  max-width: 381px;
}

.card-form label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: hsl(278, 68%, 11%);
}

.card-form input {
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 8px;
  padding: 13px;
}

.card-form input:focus-visible {
  outline: none;
  border: 0.5px solid hsl(278, 68%, 11%);
}

.card-form input::placeholder {
  font-size: 17px;
  color: hsl(280, 3%, 78%);
}

.form-row {
  margin-top: 25px;
}

.completed-message {
  margin-top: 30px;
  display: none;
  text-align: center;
}

.completed-message h2 {
  font-weight: 400;
  letter-spacing: 1.6px;
  margin-top: 30px;
}

.completed-message p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 46px;
  letter-spacing: 0.6px;
}

/* media query*/

@media only screen and (max-width: 400px) {
  #bg-main-desktop {
    display: none;
  }

  #bg-main-mobile {
    display: block;
  }

  .content {
    grid-template-columns: 1fr;
    padding: 32px 16px 45px 16px;
  }

  .card {
    width: 286px;
    height: 157px;
  }

  .card-front {
    padding: 18px 22px 22px 20px;
    background-size: cover;
  }

  .card-logo {
    height: auto;
    margin-bottom: 35px;
  }

  .card-logo img {
    width: 54px;
    height: auto;
  }

  .card-number {
    font-size: 15px;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }

  .card-owner {
    font-size: 8px;
    letter-spacing: 2px;
  }
}